body > div {
  /* background-color: black; */
  background: rgba(255, 255, 255, .0);
  color: white;
}

.content {
  display: flex;
  flex-direction: column; 
  justify-content: center;
}

.main-content {
  margin: 0 auto;
}

canvas {
  z-index: -1;
  margin: 0;
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
}

header {
  font-size: xx-large;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.5em;
  text-align: center;
  margin-top: 0;
}

.links {
  margin: 1em auto;
}

.links img {
  margin: 0 1em 0 0;
}

.links img:hover {
  cursor: pointer;
}

#link-description {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 24px;
}

.work-experience {
  font-size: x-large;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0 auto;
}

.work-experience a {
  color: #0080FF;
}

.work-experience a:hover {
  color: #40C0FF;
}